@import "tailwindcss";

@theme {
  --font-heading: 'Berthold', sans-serif;
  --font-body: 'Inter', sans-serif;
  
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #F8FAFC; /* Very light gray for section contrast */
  --color-bg-surface: #FFFFFF;
  
  --color-text-main: #0F172A; /* Near black for optimal readability */
  --color-text-muted: #475569; /* Slate for subtext */
  
  --color-accent-blue: #00A3FF; /* Sampled from your logo */
}

@layer base {
  body {
    background-color: var(--color-bg-primary);
    color: var(--color-text-main);
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-body);
  }
}